* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

$liner: linear-gradient(90deg, rgba(250, 110, 0, 1) 0%, rgba(230, 0, 38, 1) 50%);

@mixin fontColor {
    background: $liner;
    color: transparent;
    background-clip: text;
    cursor: pointer;
    transition: 0.3s;
}

@mixin btn {
    width: max-content;
    padding: 12px 40px;
    background: $liner;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        transform: scale(1.1);
        transition: 0.3s;
        background: $liner;
    }
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: #121212;
}

.father {
    max-width: 1540px;
    padding: 57px 80px 0 80px;
    width: 100%;
    background-color: #121212;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        @include btn
    }
}

.logo {
    font-size: 30px;

    &:hover {
        transform: scale(1.1);
        transition: 0.3s;
    }

    @include fontColor
}

a{
    text-decoration: none;
}

.header-list {
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;

    li {
        transition: 0.3s;
        cursor: pointer;
        color: #959595;
    }

    li:hover {
        transform: scale(1.2);
        transition: 0.3s;
        @include fontColor
    }
}

// SECTION1

.sctn1 {
    display: flex;
    justify-content: space-between;
    
}

.text-contenar {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    p {
        color: #707070;
        font-size: 23px;
    }

    span {
        color: #959595;
        font-size: 28px;
    }

    h2 {
        font-size: 34px;
        @include fontColor
    }

    .about-me {
        font-size: 18px;
        max-width: 520px;
    }
}

.btn-box {
    display: flex;
    gap: 24px;

    button {
        @include btn
    }
}

.girl{
    position: relative;
    background: #FFFFFF0A;
    width: 600px;
    height: 600px;
    border-radius: 100%;
    margin-top: 40px;
    overflow: hidden;
    
}
.girl img{
    position: absolute;
    width: 550px;
    height: 600px;
    object-fit: contain;
    bottom: 0;
    right: 5%;
    // border-radius: 100%;
    // background: red;
}

// SECTION2

.sctn2 {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .subtitle {
        color: #707070;
        font-size: 18px;
    }
}

.photo {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 300px;
}

.photo{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 300px;
}

.image-box {
    width: 350px;
    height: 450px;
    position: relative;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    background-color: #FFFFFF0A;
}

.image-box img {
    width: 366px;
    position: absolute;
    bottom: 0;
}

.text-box {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    p {
        color: #707070;
        font-size: 17px;
        line-height: 1.7;
        letter-spacing: 0.3px;
    }

    button {
        display: flex;
        gap: 10px;
        @include btn
    }
}

.tittle {
    color: #FEFEFE;
    font-size: 40px;
}

// SECTION3

.sctn3 {
    margin-top: 150px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

    h2 {
        color: #FEFEFE;
        font-size: 35px;
    }
}

.btns-div {
    display: flex;
    gap: 24px;

    .button {
        @include btn
    }

    button {
        color: #C6C6C6;
        background-color: #FFFFFF14;
        padding: 14px 40px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        &{
            
        }
    }
}

.card-box {
    display: flex;
    gap: 30px;
}

.card {
    width: 415px;
    height: 473px;
    border-radius: 28px;
    background-color: #FFFFFF14;
    overflow: hidden;

    img {
        width: 415px;
        height: 415px;
    }

    ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        color: #959595;
        padding: 16px;

        .name {
            color: #C6C6C6;
        }
    }
}

.sctn4 {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;

    h2 {
        color: #FEFEFE;
        font-size: 40px;
    }

    p {
        color: #707070;
        font-size: 18px;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: end;
        // button{

        // }
        li input,
        textarea {
            background-color: #FFFFFF0A;
            border: none;
            border-radius: 8px;
            color: #959595;
            width: 391px;
            padding: 14px 24px;
            outline: none;
        }
    }
}

.ul-box {
    display: flex;
    gap: 30px;
}

// FOOTER

footer {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #FFFFFF0A;
    width: 100%;
    height: 61vh;
}

.send {
    padding: 10px 35px;
    border: 2px solid #959595;
    border-radius: 8px;
    font-size: 17px;
    color: #959595;
    background-color: transparent;
}

.email {
    list-style: none;
    display: flex;
    gap: 40px;

    li {
        color: #959595;
    }
}

.end {
    border-top: 1px solid #707070;
    width: 593px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 16px;

    p {
        color: #707070;
    }
}
